.table{
  width: 500px;
  height: 500px;
}
img{
  max-width: 150px;
  max-height: 200px;
}
#idd{
  width: 200px;
  height: 250px;
  background-color: red;
}
// Class
.center-block {
  display: block;

}
