*{
  margin: 0px;
  padding: 0px;
  font-size: 14px;
  font-family: arial;
}
#container{
  background-color:#f9f9fa;
  width:850px;
  height: 850px;
  margin: auto;
}
/* the first top div*/
#top{
  background-color: #1a55bb;
  height: 450px;
}
#image{
  background-color: #1a55bb;
  width: 300px;
  height: 100px;
  padding-left: 10px;
  margin-right: 150px;
  ma
}
img{
  height: 100px;
  width: 300px;
}
.top{
  color: white;
}
#form1{
  text-align: right;
margin-left: 150px;
}
#ultop{
  list-style: none;
}
#ultop li{
  color: #ee9a3b;
  display: inline-block;
}
#ptop,#ultop{
  display: inline-block;
}
#form1,#image{
  display: inline-block;
  vertical-align: top;
}
form{
  background-color: #373736;
  width: 200px;
  height: 35px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #474745;
}
#search{
  padding: 5px;
  text-align:center;
  box-shadow: 0px 0px 1px #e5e5e0;
}
#go{
  background-color:#1a55bb;
  padding: 1px;
  box-shadow: 1px 1px 1px #e5e5e0;
}
#nav{
  background-color: #5389f5;
  width: 800px;
  height: 30px;
  margin: auto;
  border-radius: 5px;
  margin-top: 10px;
  padding-bottom: 10px;
  box-shadow: 5px 5px 5px #48494b;
}
#nav ul{
  list-style: none;
}
#nav  ul li{
  color:white;
  font-size: 16px;
  display: inline-block;
  margin: 10px 30px 20px 30px;
}
#leftpane{
   background-color: 1a55bb;
   width: 180px;
   height: 250px;
   margin-left: 25px;
   margin-top: 10px;
}
#leftpane ul{
  background-color: #1a55b;
  list-style: none;
  margin-top: 30px;

}
#leftpane ul li{
  color: yellow;
  padding-left: 10px;
  line-height: 20px;
  font-size: 9px;
  margin-top: 10px;
}
#leftpane ul li a{
  color:white;
  font-size: 16px;
padding-top: 20px;
text-align: left;
}
#leftpane ul li:nth-child(1),#leftpane ul li:nth-child(7){
padding-left: 40px;
}
#leftpane ul li:nth-child(5),#leftpane ul li:nth-child(6){
padding-left: 30px;
}
#maincontent{
  background-color: 1a55bb;
  width: 620px;
  margin-top: 10px;
  margin-left: 5px;
}
#maincontent p:nth-child(1),#maincontent p:nth-child(3){
padding-left: 20px;
}
#maincontent p:nth-child(2){
padding-left: 10px;
}
.main{
  font-size: 18px;
  color:#ee9a3b;
  padding-left: 150px;
  padding-bottom: 20px;
}
.top1{
  font-size: 18px;
  color:white;
  padding-left: 150px;
  padding-bottom: 20px;
}

#maincontent,#leftpane{
display: inline-block;
vertical-align: top;
}
#new{
  background-color: #f9f9fa;
  width: 750px;
  height: 300px;
  margin: auto;
  margin-top: 10px;

}
.bottom{
  background-color:#f9f9fa;
  width: 300px;
  height:250px;
  display: inline-block;
  vertical-align: top;
  margin-left: 20px;
  border-top: 5px solid #3ba1e5;


}
.bottom ul{
  padding-left: 40px;
}
.bottom1{
  background-color:#f9f9fa;
  width: 300px;
  height:250px;
  display: inline-block;
  vertical-align: top;
  margin-left: 20px;
  border-top: 5px solid #3ba1e5;


}
.bottom1 ul{
  padding-left: 40px;
}
.bottom ul li:nth-child(odd){
  padding-left: 40px;
}
.head{
  font-weight: bold;
  padding-left: 30px;
  margin-top: 10px;
}
.spam{
  color:#76b5ee;
  padding-right: 20px;
}
.spam1{
  font-size: 10px;
  color:#76b5ee;
}
#footer{
  background-color: #2ea0ec;
  width:850px;
  height: 35px;
  padding-bottom: 40px;
  text-align: center;
}
#footer ul{
  list-style: none;
  text-align: center;
  padding-top: 20px;
}
#footer p{
margin-top: 10px;
font-size: 80%;
}
#footer ul li{
  display: inline-block;
  padding-left: 40px;
}
